body{
    color:#40514E;
    margin:0;   
    text-align:center;
    font-family: 'Merriweather', serif;
} 

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size:90px;
    color: #66BFBF;
}
.heading{
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal; 
}
hr{
border: dotted #EAF6F6 6px;
border-bottom:none;
width:4%;
margin: 100px auto;
 }
 .contact-message{
     width:40%;
     margin:40px auto 60px;
 }
.mountain{
    background-color: #EAF6F6;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    padding: 10px;
}
 h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
 }
 .hey{
     height:140px;
     width:120px;
     border-radius: 100%;
    }
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.top-cloud{
    position:absolute;
    right: 300px;
    top: 40px;
}
.skill{
    width:25%;
    float: left;
    margin-right: 30px;
}
.chillies{
    width:25%;
    float: right;
    margin-left: 30px;
}
.intro{
    width: 30%;
    margin: auto;
}
p{
    line-height: 2;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.middle-container{
margin:100px 0 100px 0;
}
.bottom-container{
   background-color: #66BFBF;
   padding: 50px 0 20px;
}
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.copyrights{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
a{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }